<section class="b-pageHeader">
  <div class="container">
    <h1 class="wow zoomInLeft" data-wow-delay="0.7s">Contact Us</h1>
    <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.7s">
      <h3>Get In Touch With Us Now</h3>
    </div>
  </div>
</section><!--b-pageHeader-->

<div class="b-breadCumbs s-shadow">
  <div class="container">
    <a href="/" class="b-breadCumbs__page">Home</a><span class="fa fa-angle-right"></span><a href="/contact" class="b-breadCumbs__page m-active">Contact Us</a>
  </div>
</div><!--b-breadCumbs-->