<div class="b-map wow zoomInUp" data-wow-delay="0.5s">
  <div id="map" style="height: 400px; width: 100%; "></div>
  <script src="/static/js/caralla.map.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC59kLK2DYOSNRCm1P-UeCR4Mh0l41AGME&callback=initMap"></script>
</div><!--b-map-->  