<section class="b-contacts s-shadow">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="b-contacts__form">
          <header class="b-contacts__form-header s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
            <h2 class="s-titleDet">Forgot Password</h2> 
          </header>
          <p class=" wow zoomInUp" data-wow-delay="0.5s">Enter your forgot password information below. We will send you email if both NRIC and Email Address are valid.</p>
          <div id="success"></div>
          <form id="contactForm" onsubmit="return false;" novalidate class="s-form wow zoomInUp" data-wow-delay="0.5s">
            <input type="text" placeholder="NRIC" value="" name="user-name" id="user-name" />
            <input type="text" placeholder="EMAIL ADDRESS" value="" name="user-email" id="user-email" /> 
            <button type="submit" class="btn m-btn">SEND NOW<span class="fa fa-angle-right"></span></button>
          </form>
        </div>
      </div> 
    </div>
  </div>
</section><!--b-contacts-->