<section class="b-contacts s-shadow">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="b-contacts__form">
          <header class="b-contacts__form-header s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
            <h2 class="s-titleDet">User Registration</h2> 
          </header>
          <p class=" wow zoomInUp" data-wow-delay="0.5s">Enter your particular and enjoy the benefits by becoming our premium member</p>
          <div id="success"></div>
          <form id="contactForm" onsubmit="return false;" novalidate class="s-form wow zoomInUp" data-wow-delay="0.5s">
            <input type="text" placeholder="YOUR NAME" value="" name="user-name" id="user-name" />
            <input type="text" placeholder="NRIC" value="" name="nric" id="nric" />
            <input type="text" placeholder="EMAIL ADDRESS" value="" name="user-email" id="user-email" />
            <input type="text" placeholder="PHONE NO." value="" name="user-phone" id="user-phone" />
            <input type="text" placeholder="PASSWORD" value="" name="password" id="password" />
            <input type="text" placeholder="CONFIRM PASSWORD" value="" name="comfirmpassword" id="comfirmpassword" />
            <textarea id="user-message" name="user-message" placeholder="ABOUT YOU"></textarea>
            <button type="submit" class="btn m-btn">SUBMIT NOW<span class="fa fa-angle-right"></span></button>
          </form>
        </div>
      </div> 
    </div>
  </div>
</section><!--b-contacts-->