doctype html
html
  include header.pug

  body(class="m-index", data-scrolling-animations="true", data-equal-height=".b-auto__main-item")
    include nav.pug

    block content
    
    include footer.pug
    include footer_js.pug
    
