<!--Main-->   
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/modernizr.custom.js"></script>

<script src="/static/assets/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script src="/static/js/jquery.easypiechart.min.js"></script>
<script src="/static/js/classie.js"></script>

<!--Switcher-->
<script src="/static/assets/switcher/js/switcher.js"></script>
<!--Owl Carousel-->
<script src="/static/assets/owl-carousel/owl.carousel.min.js"></script>
<!--bxSlider-->
<script src="/static/assets/bxslider/jquery.bxslider.js"></script>
<!-- jQuery UI Slider -->
<script src="/static/assets/slider/jquery.ui-slider.js"></script>

<!--Theme-->
<script src="/static/js/jquery.smooth-scroll.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/jquery.placeholder.min.js"></script>
<script src="/static/js/theme.js"></script>