<div class="b-blog__aside-categories wow zoomInUp" data-wow-delay="0.3s">
  <header class="s-lineDownLeft">
    <h2 class="s-titleDet">CATEGORIES</h2>
  </header>
  <nav>
    <ul class="b-blog__aside-categories-list">
      <li><a href="#">Maintenance</a></li>
      <li><a href="#">Valuation</a></li>
      <li class="m-active"><a href="#">Blog</a></li>
    </ul>
  </nav>
</div>