<div class="b-blog s-shadow">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <aside class="b-blog__aside">
          include search
          include categories
          include popularpost
        </aside>
      </div>
      <div class="col-md-9 col-xs-12">
        <div class="b-blog__posts"> 
          include contentlist
          include pagination
        </div>
      </div>
    </div>
  </div>
</div><!--b-blog-->