<div class="text-center wow zoomInUp" data-wow-delay="0.3s">
  <div class="b-items__pagination-main text-center">
    <a href="#" class="m-left"><span class="fa fa-angle-left"></span></a>
    <span class="m-active"><a href="#">1</a></span>
    <span><a href="#">2</a></span>
    <span><a href="#">3</a></span>
    <span><a href="#">4</a></span>
    <a href="#" class="m-right"><span class="fa fa-angle-right"></span></a>    
  </div>
</div>