<div class="b-blog__aside-popular wow zoomInUp" data-wow-delay="0.3s">
  <header class="s-lineDownLeft">
    <h2 class="s-titleDet">POPULAR POSTS</h2>
  </header>
  <div class="b-blog__aside-popular-posts">
    <div class="b-blog__aside-popular-posts-one">
      <img class="img-responsive" src="/static/media/270x150/mercBlog.png" alt="merc" />
      <h4><a href="article.html">2016 Mercedes-Benz GLE-Class Debuts</a></h4>
      <div class="b-blog__aside-popular-posts-one-date"><span class="fa fa-calendar-o"></span>20th May 2015</div>
    </div>
    <div class="b-blog__aside-popular-posts-one">
      <img class="img-responsive" src="/static/media/270x150/outlander.png" alt="outlander" />
      <h4><a href="article.html">Refreshed 2016 Mitsubishi Outlander</a></h4>
      <div class="b-blog__aside-popular-posts-one-date"><span class="fa fa-calendar-o"></span>20th May 2015</div>
    </div>
  </div>
</div>