<section class="b-contact">
	<div class="container">
		<div class="row wow zoomInLeft" data-wow-delay="0.3s" data-wow-offset="100">
			<div class="col-xs-4">
				<div class="b-contact-title">
					<h5>LATEST NEWS &amp; DEALS</h5><br />
					<h2>NEWSLETTER SIGNUP</h2>
				</div>
			</div>
			<div class="col-xs-8">
				<div class="b-contact__form">
					<p>A TRUSTED PLATFORM THAT PROVIDES ONE STOP USED CAR VALUATION, INSPECTION, AND AFTERSALES SERVICES FOR SELLERS AND BUYER TO DEAL DIRECT WITH A COMPLETE PEACE OF MIND</p>
					<form action="#" method="GET">
						<div><span class="fa fa-user"></span><input type="text" name="user" value="" placeholder="Your Name" /></div>
						<div><span class="fa fa-envelope"></span><input type="text" name="email" value="" placeholder="Your Email" /></div>
						<button type="button"><span class="fa fa-angle-right"></span></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section><!--b-contact-->